@font-face {
    font-family: 'product';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

*{font-family: product;}

body{
    margin: 0;
    padding: 0;
}

/* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */ 

.header {

    div{ 
        text-align: center; 
        border: 2px solid black;
        background-color: white;
    } 

    h1{
        display: inline-block;
        font-size: 45px;
        margin: 10px;

        background: linear-gradient(to right,rgb(35, 35, 199),pink);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

h1{color: red;}
